body {
	background-color: #3d3439;
	margin: 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;

}

body p {
	color: #cdd1c4;
}

header {
	color: #e3e0dc;
	background-color: #44737c;
	padding: 2em;
	text-align: center;
}

.main {
	display: flex;
	width: 100%;
	min-height: 888px;
}

.main h2 {
	color: #cdd1c4;
}

.sidebar {
	background-color: #000;
	order: 1;
	flex: 1;
	padding: 1.5em;
}

.sidebar a {
	color: #1cc4ce;
}


/* unvisited link */
a:link {
    color: #1cc4ce;
}

/* visited link */
a:visited {
    color: #3d3439;
}

/* mouse over link */
a:hover {
    color: #cdd1c4;
}

/* selected link
a:active {
    color: yellow;
}*/


.content {
	color: #cdd1c4;
	order: 1;
	flex: 5;
	padding: 1.5em;
}